<!DOCTYPE html>
<html lang="en">
{% include 'partials/head.html.twig' %}
<body>
  {% include 'partials/navigation.html.twig' %}
  <main role="main" class="main">
      <div class="container">
          <div class="content">
            <h1>404</h1>
            <p><strong>Page not found :(</strong></p>
            <p>The requested page could not be found.</p>
          </div>
      </div>
  </main>
  {% include 'partials/footer.html.twig' %}
  {% include 'partials/scripts.html.twig' %}
</body>
</html>